@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if(ViewBag.ErrorTitle == null) //se for um erro sem título, não é o erro de tentar apagar apagar registos ligados em cascata 
{
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}
else
{
     <h1 class="text-danger">@ViewBag.ErrorTitle</h1> @*título do erro*@
    <h2 class="text-danger">@Html.Raw(ViewBag.ErrorMessage)</h2> @*Formatação em html da mensagem de erro*@
}


@* 
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
} *@


